.filters {
  padding: 1rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie-link a {
  color: rgb(175, 1, 1);
  text-decoration: none;
}

.movie-link a:hover {
  color: red;
  text-decoration: underline;
}
